<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>LibreriaCR</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>  

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    </br>
                    <h2>Bienvenido a la Librería CR</h2>
                    <br>
                    </br>
                    <p>Descubre nuestra amplia colección de libros y sumérgete en un mundo de conocimiento. En nuestra librería, encontrarás desde clásicos de la literatura hasta las últimas novedades en diferentes géneros, como ficción, no ficción, ciencia ficción, historia, biografías y más.</p>
                    <p>Nuestro objetivo es proporcionarte una experiencia única y enriquecedora a través de la lectura. Además de ofrecerte una gran variedad de libros, también organizamos eventos culturales, charlas, y actividades para fomentar la pasión por la lectura y el intercambio de ideas entre nuestros visitantes.</p>
                    <p>¡Explora nuestro catálogo y encuentra el próximo libro que te acompañará en tus aventuras literarias!</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <br>
        </br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/45/a0/45a01bd8bdfaf22a25dc5e4b0553e436.jpg" alt="Libro 1" style="width: 300px; height: 300px;">
            </div>
            <div class="col-md-4">
                <img src="https://images.ecestaticos.com/INIEH4DNsPUFqmXILwMXqg0ep-M=/5x4:1279x720/1200x1200/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fce0%2F8c6%2Fca1%2Fce08c6ca14ec097b36ad332c00f08f1e.jpg" alt="Libro 2" style="width: 300px; height: 300px;">
            </div>
            <div class="col-md-4">
                <img src="https://www.crisol.com.pe/media/catalog/product/cache/cf84e6047db2ba7f2d5c381080c69ffe/9/7/9786124424502_p8men5r8cgcdlugq.jpg" alt="Libro 3" style="width: 300px; height: 300px;">
            </div>
        </div>
    </div>
</section>
    <section>
        <br>
        </br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Recomendación de Lectura</h3>
                    <br>
                    </br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe 
                            width="800" 
                            height="450" 
                            src="https://www.youtube.com/embed/ZHs9u3nU6Ok?si=TCt-JLaENpuGN74I" 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{layout/plantilla :: footer}"/>               

</body>
</html>